<h2><a href="/instructors">All Instructors</a></h2>
<div class="instructor">
  <p>Instructor Name: <%= @instructor.name %></p>
  <p>Instructor Age: <%= @instructor.age %></p>
</div>
<a href='/instructors/<%= @instructor.id %>/edit'>Edit This Instructor</a>
